
/*------Title section------*/
.container-fluid{
    padding:  0% 2% 1% 0%;
}

.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;

}
.nav-link{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    color: #fff !important;
}

#title{
    height:100%;
    background-image: url('images/abt-back.jpg');
    object-fit: contain;
    padding: 0px 50px 500px 50px;
}

.title-name{
    color: #fff;
    padding-top: 10px;
    margin-top: 10px;
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: none;    
}
.title-image{
    position: relative;
    right: 0px;
}
/*--Body----*/

body{
    background-color:#fff ;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 100%;  
}
.top{
    position: relative;
    top: 0;
}
.abt-back{
    display: inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    color: #fff;
    bottom: 320px;
    left: 650px;
}
.p1{
    padding: 0px 20px 5px 20px;
    color: #34656D;
    font-size: larger;
    font-weight: bold;
}
p{
    padding: 5px 20px 5px 20px;
    color: #34656D;
    font-size: larger;
    font-weight: bold;
}

/*--footer--*/
#footer{
    background-color:#34656D;
    text-align: center;
    margin-top: 0px;
    padding: 2%;  
}
.footer{
    color: #fff;
}