body{
    height: 100% ;
}
/*------Title section------*/
.container-fluid{
    padding:  0% 2% 1% 0%;
}

.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;

}

.nav-link{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    color: #fff !important;
}

#title{
    height:100%;
    background-image: url('images/paradise3.jpg');
    padding: 0px 30px 550px 50px;
    box-sizing: border-box ;
}

.title-name{
    color: #fff;
    padding-top: 10px;
    margin-top: 10px;
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: none;    
}
.title-image{
    position: relative;
    right: 0px;
}
/*--Body----*/
h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    color: #fff !important;
    position: relative;
    top: 50px;
    left: 500px;
}
button{
    position: relative;
    top: 200px;
    left: 400px;
    padding: 10px;
    width: 20%;
    background-color:#34656D;
    color: #fff;
    border: none;
    border-radius: 10%;
}
/*--footer--*/
#footer{
    background-color:#34656D;
    text-align: center;
    margin-top: 10px;
    padding: 2%;  
}
.footer{
    color: #fff;
}