
/*------Title section------*/
.container-fluid{
    padding:  0% 2% 1% 0%;
}

.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;

}

.nav-link{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    color: #fff !important;
}

#title{
    height: 100%;
    background-image: url('images/paradise2.jpg');
    object-fit: cover;

    padding: 0px 50px 600px 50px;
}

.title-name{
    color: #34656D;
    padding-top: 10px;
    margin-top: 10px;
    font-family: 'Sacramento', cursive !important;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: none;    
}
.title-image{
    position: relative;
    right: 0px;
}
/*------Features------*/
.meet-button{
    position: relative;
  
    margin: 5% 0% 5% 20%;
    background-color: #34656D !important;

}
.meet-buttons{
    position: relative;

    margin: 5% 3% 5% 10%;
    background-color: #34656D !important;
}
h2{
    font-family: 'Yanone Kaffeesatz', sans-serif !important; 
    color: #34656D !important;
}
#features{
    background-color: #fff;
    padding-top: 20px;
    padding: 7% 15%;
    position: relative;
}

/*---Accomodation---*/

#accomodation{
    background-color: #34656D;
    text-align: center;
    padding:100px;
}
.acc-img{
    width: 80%;
    border-radius: 20%;
    margin: 20px;
}

.acc-name{
    color: #fff !important;
    font-family: 'Yanone Kaffeesatz', sans-serif !important; 
    font-size: 3rem !important;
    line-height:1.5 !important ;
    padding-top: 80px !important;   
}
p{
    color:#fff;
}

/*---Dining--*/

#dining{
    padding:100px;
    text-align: center;
}
.din-name{   
    color: #34656D !important;
    font-family: 'Yanone Kaffeesatz', sans-serif !important; 
    font-size: 3rem !important;
    line-height:1.5 !important ;
    padding-top: 80px !important;
}
.din-det{
    color: #34656D;
}  
.din-img{
    width: 80%;
    border-radius: 20%;
    margin: 20px;
}

/*----special---*/
#special{
    background-color: #34656D;
        padding:100px;
        text-align: center;
}
.spl-name{   
    color: #fff !important;
    font-family: 'Yanone Kaffeesatz', sans-serif !important; 
    font-size: 3rem !important;
    line-height:1.5 !important ;
    padding-top: 80px !important;
}
.spl-det{
    color: #fff
}  
.spl-img{
    width: 80%;
    border-radius: 20%;
    margin: 20px;
}
/*--footer--*/
#footer{
    background-color: #fff;
    text-align: center;
    margin-top: 50px;
    padding: 7% 7%;  
}
.footer{
    color: #34656D;
    font-family: 'Merriweather', serif;
}